{% extends "base.html" %}

{% block windowtitle %}{{ article.title }}{% endblock %}

{%block columnsizeleft %}large-10{% endblock %}
{%block columnsizeright %}large-2{% endblock %}

{% block content %}
<article>
<div class="small-12 medium-9 columns">
	<h1>{{article.title}}</h1>
	{{article.content}}
</div>
<div class="small-12 medium-3 columns show-for-medium-up">
	<div class="row">
		<div class="small-12 columns authordetails">
			<p><img src="{{SITEURL}}/images/adam.jpg" alt="picture of Adam McNicol" />
			{{ article.locale_date }}.
			<br/>
			{% if article.locale_modified %}
			<br/>updated on {{article.locale_modified}}.
			{% endif %}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{% for tag in article.tags %}
			<span class="[success secondary round radius] label"><a href="{{SITEURL}}/{{tag.url}}">{{tag.name}}</a></span>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul class="side-nav">
			{% for category, articles in categories %}
			{% set course_present = false %}
			{% if category.name == 'Course' %}
					{% set course_present = true %}
					{%for article in articles %}
						<li><a href="{{SITEURL}}/{{article.url}}">{{article.title}} - {{article.locale_date}}</a></li>
					{% endfor %}
			{% endif %}
			{% endfor %}
			{% if course_present == false %}
				<li>There are no courses currently planned.</li>
			{% endif %}
			</ul>
		</div>
	</div>
</article>
{% endblock %}
