{% extends "base.html" %}

{% block windowtitle %}Blog{% endblock %}

{% block content %}
    <div class="small-12 medium-{%block mediumcolumns %}10{% endblock %}  columns">
    {% for article in articles|sort(attribute='date', reverse=True) %}
    <div class="row">
        <article>
            <div class="small-9 medium-9 columns">
                <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                {{ article.content if FOUNDATION_FRONT_PAGE_FULL_ARTICLES else article.summary }}
                {% if not FOUNDATION_FRONT_PAGE_FULL_ARTICLES %}
                    {# add a 'Continue reading' link if we're displaying summaries #}
                    <p class="continue"><a href="{{ SITEURL }}/{{ article.url }}">Continue reading &raquo;</a></p>
                {% endif %}
            </div>
            <div class="small-3 medium-3 columns">
                <h6>{{article.locale_date}}.</h6>
                {% for tag in article.tags %}
                    <span class="[success secondary round radius] label"><a href="{{SITEURL}}/{{tag.url}}">{{tag.name}}</a></span>
                {% endfor %}
            </div>
        </article>
    </div>
    <hr />
    {% endfor %}
    </div>
    {% block archive %}
    <div class="medium-2 columns show-for-medium-up">
    {% for year, date_year in dates|groupby('date.year')|sort(reverse=True) %}
        {% for month, articles in date_year|groupby('date.month') %}
            <a href="{{SITEURL}}/archive/{{year}}/{{month}}/index.html" class="button secondary">{{month|monthabbr}}/{{year}}</a>
        {% endfor %}
    {% endfor %}
    </div>
    {% endblock %}
{% endblock %}

{% block footerrule %}
{% endblock %}
