{% extends "base.html" %}

{% block windowtitle %}{{ page.title }}{% endblock %}
{% block content %}
<div class="small-12 columns">
    <h1>{{page.title}}</h1>
	{{ page.content }}
</div>
{% endblock %}