@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//tweaks

#adam-mcnicol {
    width: 33%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid $oil;
}


.authordetails {
    img {
        width: 25%;
        margin-left:0;
        margin-right:0;
        border: 1px solid $oil;
    }

    p {
        font-size: 0.75em;
    }
}

//code highlighting
.highlighttable {
    width: 100%;
}

.highlight pre {
    font-family: "source-code-pro", Consolas, Courier, monospace;
    font-weight: 300;
}

.linenodiv pre {
    font-family: "source-code-pro", Consolas, Courier, monospace;
    font-weight: 200;
}

//footer
footer {
    a:hover {
        text-decoration: underline;
    }
}

//paragraphs
p {
    a:hover {
        text-decoration: underline;
    }

}

//menu height issues
.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

.off-canvas-wrap{
    height: 100%;
    overflow-y: auto;
}